.calc{
    max-width: 300px;
    color: #0065AD;
    background-color: #FFFFFF;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16);

    font-family: sans-serif;
}
.display{
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;

    color: #F5F4E9;
    background-color: #0065AD;
    overflow: hidden;
}
.display>div{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    text-align: center;

    height: 40px;
    margin: 0;
}
.line-result{
    font-size: 1.5em;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button{
    margin: 15px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s;

    user-select: none;
}
.button:hover{
    background-color: #0065AD;
    color: #FFFFFF;
}
